/* hide default option*/
.powermail_mandatory_helper {
	visibility: hidden;
	height: 1px;
	position: absolute;
}

/* add hint support begin */
div.tx_powermail_pi1_fieldwrap_html a.link_icon_info,
div.tx-powermail-pi1 a.link_icon_info,
div.tx-powermail-pi1 a.link_icon_info:hover,
div.tx-powermail-pi1 a.link_icon_info:active {
	text-decoration: none;
	border: none;
	position: relative;
}

div.tx_powermail_pi1_fieldwrap_html img.icon_info {
	padding: 0 2px;
}

div.tx_powermail_pi1_fieldwrap_html label a,
div.tx_powermail_pi1_fieldwrap_html p a,
div.tx_powermail_pi1_fieldwrap_html fieldset legend.tx_powermail_pi1_fieldwrap_html_checkbox_title a,
div.tx_powermail_pi1_fieldwrap_html fieldset legend.tx_powermail_pi1_fieldwrap_html_radio_title a {
	cursor: help;
}

div.tx_powermail_pi1_fieldwrap_html label a dfn,
div.tx_powermail_pi1_fieldwrap_html p a dfn,
div.tx_powermail_pi1_fieldwrap_html fieldset legend.tx_powermail_pi1_fieldwrap_html_checkbox_title a dfn,
div.tx_powermail_pi1_fieldwrap_html fieldset legend.tx_powermail_pi1_fieldwrap_html_radio_title a dfn {
	display: none;
	text-decoration: none;
	position: absolute;
	z-index: 1;
	width: auto;
	min-height: 15px;
	padding: 3px 10px 5px 10px;
	background-color: #00559E;
	border: 1px solid #00559E;
	color: #fff;
}

div.tx_powermail_pi1_fieldwrap_html label a:hover dfn,
div.tx_powermail_pi1_fieldwrap_html p a:hover dfn,
div.tx_powermail_pi1_fieldwrap_html fieldset legend.tx_powermail_pi1_fieldwrap_html_checkbox_title a:hover dfn,
div.tx_powermail_pi1_fieldwrap_html fieldset legend.tx_powermail_pi1_fieldwrap_html_radio_title a:hover dfn {
	display: block;
}

div.tx_powermail_pi1_fieldwrap_html img.icon_info {
	padding: 0 2px;
}

div.tx_powermail_pi1_fieldwrap_html a.link_icon_info,
div.tx-powermail-pi1 a.link_icon_info,
div.tx-powermail-pi1 a.link_icon_info:hover,
div.tx-powermail-pi1 a.link_icon_info:active {
	text-decoration: none;
	border: none;
	position: relative;
}

/* add hint support end */

fieldset.tx-powermail-pi1_fieldset .powermail_check_inner input[type=checkbox],
fieldset.tx-powermail-pi1_fieldset .powermail_radio_inner input[type=radio] {
	float: left;
	position: relative;
	clear: left;
	width: auto;
	background: none;
	border: none;
	margin-right: 7px;
}

fieldset.tx-powermail-pi1_fieldset .powermail_check_inner label {
	display: inline;
}

div.powermail_multiple_js fieldset.tx-powermail-pi1_fieldset legend,
div.powermail_multiple_js fieldset.tx-powermail-pi1_fieldset.ui-tabs-hide {
	display: none;
}

div.powermail_multiple_js fieldset.tx-powermail-pi1_fieldset fieldset legend {
	display: block;
}

fieldset.tx-powermail-pi1_fieldset textarea {
	/* chrome+ff fix http://stackoverflow.com/questions/5271782/ */
	display: block;
}

body > div.error {
	background-color: #FF0000;
	border: 1px solid #FF0000;
	font-size: 11px;
	color: #fff;
	padding: 3px 10px 5px 10px;
	margin-left: -2px;
	z-index: 100;
	text-align: left;
	height: auto;
}

body > div.error p {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

body > div.error em {
	display: block;
	width: 0;
	height: 0;
	border: 10px solid;
	border-color: #FF0000 transparent transparent;
	position: absolute;
	bottom: -7px;
	left: 5px;
	border-bottom: 0 none;
}

form.tx_powermail_pi1_formconfirmation_back {
	float: left;
	margin-right: 1em;
}




#powermaildiv_uid579,
#powermaildiv_uid606,
#powermaildiv_uid564,
#powermaildiv_uid591 {
	margin-top: -1.5ex;
}
fieldset.tx-powermail-pi1_fieldset .powermail_check_inner label.check_uid579_0,
fieldset.tx-powermail-pi1_fieldset .powermail_check_inner label.powermail_uid579_1,
fieldset.tx-powermail-pi1_fieldset .powermail_check_inner label.check_uid606_0,
fieldset.tx-powermail-pi1_fieldset .powermail_check_inner label.powermail_uid606_1,
fieldset.tx-powermail-pi1_fieldset .powermail_check_inner label.check_uid564_0,
fieldset.tx-powermail-pi1_fieldset .powermail_check_inner label.powermail_uid564_1,
fieldset.tx-powermail-pi1_fieldset .powermail_check_inner label.check_uid591_0,
fieldset.tx-powermail-pi1_fieldset .powermail_check_inner label.powermail_uid591_1 {
	display: inline;
}
fieldset.tx-powermail-pi1_fieldset .powermail_check_inner input.powermail_uid679,
fieldset.tx-powermail-pi1_fieldset .powermail_check_inner input.powermail_uid606,
fieldset.tx-powermail-pi1_fieldset .powermail_check_inner input.powermail_uid564,
fieldset.tx-powermail-pi1_fieldset .powermail_check_inner input.powermail_uid591 {
	margin-top: 3px;
}


div.tx-powermail-pi1 .showInPrint {
	display: none;
}

div.tx-powermail-pi1 .hideInPrint {
	display: block;
}

@media print {
	.showInPrint {
		display: block;
	}

	.hideInPrint,
	#TSFE_ADMIN,
	#TSFE_ADMIN * {
		display: none;
	}
}